<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

    <div class="row">
        <div class="vertical-nav bg-white col-md-3 col-sm-12 col-offset-0" *ngIf="currentUser" id="sidebar">
            <div class="py-4 px-3 mb-4 bg-light">
                <div class="media d-flex">              
                    <span id="profile"></span>
                    <div class="media-body">
                        <h4 class="m-0 title-name">{{currentUser.firstName}} {{currentUser.lastName}}</h4>
                        <p class="font-weight-light text-muted mb-0 title-name">{{currentUser.username}}</p>
                    </div>
                </div>
            </div>
            <div class="one">
                <ul class="sidebar-big">
                    <li>
                        <span class="sidebar-name"><a routerLink="/creategroup">Create Group</a></span>
                    </li>
                    <li>
                        <span class="sidebar-name"><a routerLink="/meetings">Meetings</a></span>
                    </li>
                </ul>
            </div>

        
            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0 pt-4 bg-light">Groups</p>
               
            <div class="one">
                <ul class="groups">
                    <!--
                    <li *ngFor="let group of groups" 
                    [class.selected]="group === selectedGroup" 
                    (click)="onSelect(group)">
                        <span class="group-name">{{group.name}}</span>
                    </li>
                    -->
                    <li *ngFor="let g of groups" [routerLink]="['/groups',g.id]">
                        <a class="group-list" >{{g.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12" *ngIf="!currentUser">
        </div>
        <div class="col-md-6 col-sm-12">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>

    </div>


